{% extends 'pages/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main class="container">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4 img-fluid" src="{% static 'Sacuranbologo.png' %}" alt="Главное изображение" style="max-height: 250px;">
        
        <h1 class="display-4 fw-bold text-body-emphasis">{{ welcome_text }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">{{ lead_text }}</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Кто мы такие?</button>
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Что мы делаем?</button>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row mb-2">
            <h2 class="display-6 fw-bold text-body-emphasis text-center mb-4">Наши преподаватели</h2>
            
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Японский язык</strong>
                        <h3 class="mb-0">Данила Сысоев</h3>
                        <div class="mb-1 text-body-secondary">Стаж: 10 лет</div>
                        <p class="card-text mb-auto">Эксперт и главный сенсей на этом деревце. Объяснит японский с нуля так, что поймет даже котик.</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{% static 'Sysoev.jpg' %}" alt="Фото" width="200" height="250" style="object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Японский язык</strong>
                        <h3 class="mb-0">Тимофей Гутлер</h3>
                        <div class="mb-1 text-body-secondary">Профессиональный котофей</div>
                        <p class="mb-auto">Научит Японскому языку так, что правила грамматики будут снится вам в самых сладких снах.</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{% static 'Гутор.jpg' %}" alt="Фото" width="200" height="250" style="object-fit: cover;">
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mt-2">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Японский язык</strong>
                        <h3 class="mb-0">Никита Гребенко</h3>
                        <div class="mb-1 text-body-secondary">Профессиональный обманщик</div>
                        <p class="card-text mb-auto">Настоящий японец, проживший в стране восходящего солнца более 10 лет. Объяснит как правильно врать на Японском и получить там работу</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{% static 'Grebnev.jpg' %}" alt="Фото" width="200" height="250" style="object-fit: cover;">
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
{% endblock %}